h3 {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.container-six-pictures-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    gap: 20px;
    max-width: 1500px;
    padding: 20px;
}

.container-six-pictures-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
}

.container-six-pictures-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 400px;
    border: #000000b6 1.5px solid;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    background-color: var(--primary-color-2);
}

.container-six-pictures-grid h4 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 800;
}

.container-six-pictures-grid p {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .container-six-pictures-content {
        top: -180px;
    }
}

/* Estilos para tablets */
@media (max-width: 1024px) {
    .container-six-pictures-content {
        padding: 15px;
        bottom: 0;
    }
    
    .container-six-pictures-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .container-six-pictures-grid h4 {
        font-size: 16px;
    }
}

/* Estilos para celulares */
@media (max-width: 640px) {
    h3 {
        font-size: 20px;
    }
    
    .container-six-pictures-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
    .container-six-pictures-content {
        padding: 10px;
    }
    
    .container-six-pictures-grid div {
        padding: 15px;
    }
}