.big-buttom-salle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
    box-shadow: var(--secondary-color) 0px 0px 2px;
    color: var(--background-color);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;
}

.big-buttom-salle:hover {
    transform: scale(1.01);
    transition: all 0.1s ease;  
    box-shadow: var(--primary-color) 0px 0px 10px;
}

.big-buttom-salle p {
    font-size: 18px;
    font-weight: 600;
    color: var(--background-color);
}

.big-buttom-salle p span {
    font-weight: 800;
}