.boas-vindas {
    background-color: var(--background-color);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;  
    gap: 20px;
    max-width: 1500px;
    padding: 80px;
    border-left: rgba(92, 92, 92, 0.205) 1px solid;
    border-right: rgba(92, 92, 92, 0.205) 1px solid;
    border-bottom: hsla(0, 0%, 36%, 0.205) 1px solid;
    box-shadow: 0px 0px 10px rgba(94, 93, 93, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70vh;
    
}

.boas-vindas-txt {
    max-width: 950px;
}

.promocao-txt {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 600;
}

.img-logo {
    width: 800px;
    height: 200px;
     
    @media (max-width: 1500px) {
        max-width: 600px;
        width: 100%;
    }
}

.img-icone{
    display: inline-block;
    bottom: -5px;
    right: -10px;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


