.section-description {
    background-color: var(--primary-color);
    position: relative;
    bottom: -162px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.container-description {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    margin: 0 auto;
}

.container-description h2 {
    font-size: 36px;
    font-weight: 800;
    color: var(--background-color);
}

.container-description h2 div {
    font-size: 36px;
    font-weight: 800;
    color: var(--background-color);
    background-color: var(--border-color);
    display: inline-flex;
    width: 500px;
    justify-content: center;
    padding-bottom: 5px;
}

.container-description span {
    font-size: 18px;
    font-weight: 400;
}

.container-description p {
    font-size: 18px;
    font-weight: 400;
    color: var(--background-color);
}

.description-txt div {
    display: inline;
    font-size: 18px;
    font-weight: 600;
}

.container-description img {
    width: 600px;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), 50%, rgba(0, 0, 0, 0) 90%); /* Para navegadores WebKit */ /* Para navegadores WebKit */
    mask-mode: alpha;
}

@media (max-width: 1500px) {
    .container-description img {
        width: 500px;
    }

    .container-description h2 {
        font-size: 28px;
    }

    .container-description h2 div {
        font-size: 28px;
        width: 400px;
    }

    .container-description span {
        font-size: 16px;
    }
    .container-description p {
        font-size: 16px;
    }
    .description-txt div {
        font-size: 16px;
    }
    .container-description {
        gap: 50px;
    }
}

@media (max-width: 1250px) {
    .container-description {
        max-width: 1000px
    }
    .container-description img {
        width: 400px;
    }

    .container-description h2 {
        font-size: 28px;
    }

    .container-description h2 div {
        font-size: 28px;
        width: 400px;
    }

    .container-description span {
        font-size: 16px;
    }
    .container-description p {
        font-size: 16px;
    }
    .description-txt div {
        font-size: 16px;
    }
}