@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #003D5B;
    --secondary-color: #333333;
    --border-color: #c7a900;
    --background-color: #FAFAFA;
    --font-primary: 'Archivo', sans-serif;
}

body {
    font-family: var(--font-primary);
    background-color: var(--background-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--background-color);
    max-width: 1500px;
    margin: 0 auto;
    height: 100vh;
}



s, strong {
    color: var(--primary-color);
}

h1 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 800;
}

.mg40-top {
    margin-top: 40px;
}

.mg40-bottom {
    margin-bottom: 40px;
}
