@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');
:root {
    --primary-color: #003D5B;
    --secondary-color: #333333;
    --border-color: #FFC107; 
    --background-color: #FAFAFA;
    --primary-color-2: #003d5b09;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Lato', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    
    @media(max-width: 1024px) {
        background-color: var(--primary-color);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
}

p, li {
    font-family: var(--font-secondary);
    font-weight: 400;
}

span {
    font-family: var(--font-secondary);
    font-weight: 700;
}

.container {
    background-color: var(--background-color);
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
}

.container-perguntas-frequentes-content {
    background-color: var(--primary-color);
}


s, strong {
    color: var(--primary-color);
}

h1 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 800;
}

.container-six-pictures {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.mg40-top {
    margin-top: 20px;
}

.mg40-bottom {
    margin-bottom: 40px;
}

@media (max-width: 1024px) {

    .container-perguntas-frequentes-content {
        background-color: var(--primary-color);
    }

}